@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInUp {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  /* Tailwind CSS classes to apply animations */
  .animate-fadeIn {
    animation: fadeIn 0.8s ease forwards;
  }
  
  .animate-slideInLeft {
    animation: slideInLeft 0.8s ease forwards;
  }
  
  .animate-slideInUp {
    animation: slideInUp 0.8s ease forwards;
  }
  
  .animate-bounce {
    animation: bounce 1s infinite;
  }
  